.store-breadcrumb {
  .breadcrumb {
    background: transparent;
    padding: 10px 0 0 0;
    
    .breadcrumb-item + .breadcrumb-item::before {
      padding-left: 1.5rem;
      padding-right: 1.5rem
    }

    .breadcrumb-item {
      a {
        color: #979797;
      }
      font-weight: 300
    }

    .breadcrumb-item.active {
      color: #0C0D36;
    }
  }
}